.author.d-flex.align-items-center.justify-content-center
  %p
    %img.avatar{src: "https://avatars.githubusercontent.com/u/8098344?v=4", width: "50", height: "50"}
    Written by
    = icon_svg "github", add_class: 'github-icon'
    = link_to "r3cha", "http://github.com/r3cha", target: "_blank"
      