
.container
  .question
    %h4 Who we are
    .answer
      %p
        We are a team of software developers and engineers.
        %br
        Our expertise spans desktop, web, mobile and embedded system development. With a foundation built on collaboration, innovation, and technical excellence,
        we are dedicated to delivering high-quality software solutions that drive success and growth for our clients.
  .question
    %h4 What we do
    %p
      Specializes in crafting custom software solutions tailored to meet the unique needs of businesses across various industries. We provide a comprehensive range of development services, including:
    %ul
      %li Web development: Building scalable and robust web applications using the latest technologies and frameworks to ensure a smooth user experience and efficient performance.
      %li Mobile App Development: Creating seamless, user-friendly mobile applications for both iOS and Android platforms, designed to engage users and enhance your business reach.
      %li Embedded Systems Development: Developing reliable and efficient embedded systems that power the technology behind today's smart devices.
      %li Web Development: Building scalable and robust web applications using the latest technologies and frameworks to ensure a smooth user experience and efficient performance.
      %li DevOps and cloud Solutions: Offering DevOps services to streamline your operations, including infrastructure automation, continuous integration and deployment, and cloud solutions for scalability and flexibility.
  .question
    %h4 How we work
    %p
      Open and transparent communication as the cornerstone of process. We believe that building strong relationships with our clients is essential to delivering successful projects.
      We leverages a diverse set of technologies and tools to deliver great software:
    %ul
      %li Languages: Ruby, Python, JavaScript, Golang, Rust, Dart and more
      %li Frameworks: Ruby on Rails, Grape, Sinatra, Django, DotNet, React, Angular, Vue.js, Hotwire, Stimulus, Flutter allowing us to build high-performance applications tailored to your needs.
      %li DevOps Tools: Docker, Kubernetes, Terraform, CI tools like Gitlab CI, Buildkite and GitHub Actions to ensure efficient development workflows, reliable deployment processes, and robust infrastructure management.
      %li Cloud Platforms: We work with leading cloud providers like AWS, Google Cloud Platform, Digtalocean, Azure and Heroku to provide scalable and secure hosting solutions.
      %li Database Management: Our expertise in PostgreSQL, MySQL, Redis and MongoDB ensures your data is handled efficiently and securely.
