@import 'bootstrap/scss/bootstrap.scss';
@import 'font';

$black-color: #202020;
$logo-pading: 10px;
.navigation {
  justify-content: center;
  padding: 25px 0;
}
.logo {
  display: flex;
  .icon {
    display: flex;
    border: 1px solid $black-color;
    border-radius: 2px;
    .white, .black {
      padding: 0.3em 0.8em;
      font-size: 1.2em;
      display: inline-block;
      overflow: hidden;
      text-align: center;
    }
    .and {
      position: absolute;
      font-size: 1.1em;
      margin-top: -1px;
    }
    .white {
      background: white;
    }
    .and-black {
      color: $black-color;
      margin-left: 6px;
    }
    .and-white {
      color: white;
      margin-left: -22px;
    }
    .black {
      background: $black-color;
      color: white;
    }
  }
  .text{
    display: inline-block;
    align-items: center;
    margin: 9px 20px 5px;
    line-height: 1;
    font-size: 22px;
  }
} 

.github-icon svg{
  width: 20px;
  margin-top: -4px;
}

code {
  display: block;
  white-space: pre-wrap   
}

pre {
  color: var(--bs-code-color);
}

.inline {
  display: inline-block;
}

.d-flex {
  gap: 20px;
}

blockquote {
  font-size: 1rem;
  line-height: 1.4; 
  color: #333;
  margin: 10px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 5px solid #007acc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

blockquote p {
  margin: 0;
}

cite {
  display: block;
  text-align: right;
  color: #555;
  font-style: italic;
  margin-top: 10px;
}


code, pre {
  position: relative;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
  &.inline{
    padding: 2px 5px;
    margin: 1px 0;
  }
}

.note {
  background-color: #fff4e5;
  border-left: 2px solid #ffa500;
  padding: 10px 15px;
  margin: 10px 0;  
  border-radius: 4px;
  font-size: 1rem;
  position: relative;
}

.warn {
  background-color: #ffe5e5;
  border-left: 4px solid #ff0000;
  padding: 10px 15px;
  margin: 10px 0 10px;  
  border-radius: 4px;
  font-size: 1rem;
  position: relative;
}

.file-desc, .file-content {
  width: 50%;
}

.compose {
  .file-desc {
    width: 70%;
  }
  .file-content {
    width: 30%;
  }
}